---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import PillarsOverview from '../components/sections/PillarsOverview.astro';
import WhyNow from '../components/sections/WhyNow.astro';
import InfluencerMarketing from '../components/sections/InfluencerMarketing.astro';
import LiveEvents from '../components/sections/LiveEvents.astro';
import RevenueExpansion from '../components/sections/RevenueExpansion.astro';
import ChrzExperience from '../components/sections/ChrzExperience.astro';
import ConnectedSystem from '../components/sections/ConnectedSystem.astro';
import WhoWeWorkWith from '../components/sections/WhoWeWorkWith.astro';
import FinalCta from '../components/sections/FinalCta.astro';
import Footer from '../components/sections/Footer.astro';
---

<Layout>
  <Header />
  <main>
    <Hero />
    <PillarsOverview />
    <WhyNow />
    <InfluencerMarketing />
    <LiveEvents />
    <RevenueExpansion />
    <ChrzExperience />
    <ConnectedSystem />
    <WhoWeWorkWith />
    <FinalCta />
  </main>
  <Footer />
  <script>
    import '../scripts/motion';
  </script>
</Layout>
